.card.col-md-6.offset-md-3
  %h2.card-header= t(:resend_confirmation_instructions)
  .card-block
    -# haml-lint:disable LineLength
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .field.form-group
        = f.label :email
        = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control'
      .actions.form-group
        = f.submit t(:send), class: 'btn btn-primary'
    = render 'devise/shared/links'
    -# haml-lint:enable LineLength
