.card.col-md-6.offset-md-3
  %h2.card-header= t(:edit_user)
  .card-block
    = form_for(resource, as: resource_name,
    url: registration_path(resource_name),
    html: { method: :put }) do |f|
      = devise_error_messages!
      .field.form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field.form-group
        = f.label :password
        %i= t(:leave_blank_to_not_change)
        %br/
        = f.password_field :password, autocomplete: 'off',
        class: 'form-control'
        - if @minimum_password_length
          %em
            = @minimum_password_length
            = t(:characters_minimum)
      .field.form-group
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: 'off',
        class: 'form-control'
      .field.form-group
        = f.label :current_password
        %i= t(:we_need_password_confirm)
        %br/
        = f.password_field :current_password, autocomplete: 'off',
        class: 'form-control'
      .actions.text-right
        .btn-group
          = f.submit t(:update), class: 'btn btn-primary'
          = link_to t(:back), :back, class: 'btn btn-secondary'
    %hr
    %h3= t(:canceling_my_account)
    %p
      = button_to t(:cancel_my_account), registration_path(resource_name),
      data: { confirm: 'Are you sure?' }, method: :delete,
      class: 'btn btn-warning'
