.card.col-md-6.offset-md-3
  %h2.card-header= t(:sign_up)
  .card-block
    = form_for(resource, as: resource_name,
    url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field.form-group
        = f.label :email
        %br/
        .input-group.mb-2.mr-sm-2.mb-sm-0
          .input-group-addon @
          = f.email_field :email, autofocus: true, class: 'form-control'
      .field.form-group
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} #{t(:characters_minimum)})
        %br/
        .input-group.mb-2.mr-sm-2.mb-sm-0
          .input-group-addon
            %i.fa.fa-key{ 'aria-hidden' => 'true' }
          = f.password_field :password, autocomplete: 'off',
          class: 'form-control'
      .field.form-group
        = f.label :password_confirmation
        %br/
        .input-group.mb-2.mr-sm-2.mb-sm-0
          .input-group-addon
            %i.fa.fa-key{ 'aria-hidden' => 'true' }
          = f.password_field :password_confirmation, autocomplete: 'off',
          class: 'form-control'
      .actions.form-group
        = f.submit t(:sign_up), class: 'btn btn-primary'
    = render 'devise/shared/links'
