.card.col-md-6.offset-md-3
  %h2.card-header= t(:change_your_password)
  .card-block
    = form_for(resource, as: resource_name, url: password_path(resource_name),
    html: { method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .field.form-group
        = f.label :password, 'New password'
        %br/
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
          %br/
        = f.password_field :password, autofocus: true, autocomplete: 'off',
        class: 'form-control'
      .field.form-group
        = f.label :password_confirmation, 'Confirm new password'
        %br/
        = f.password_field :password_confirmation, autocomplete: 'off',
        class: 'form-control'
      .actions
        = f.submit 'Change my password', class: 'btn btn-primary'
    = render 'devise/shared/links'
