.col-md-4.offset-md-4
  %h2= t(:forgot_your_password)
  = form_for(resource, as: resource_name, url: password_path(resource_name),
  html: { method: :post }) do |f|
    = devise_error_messages!
    .field.form-group
      = f.label :email
      %br/
      .input-group.mb-2.mr-sm-2.mb-sm-0
        .input-group-addon @
        = f.email_field :email, autofocus: true, class: 'form-control'
    .actions.form-group
      = f.submit t(:send_me_password_instructions),
      class: 'btn btn-primary float-right'
      .ls40
  = render 'devise/shared/links'
