.col-md-6.offset-md-3

  = t(:logged_as)
  %h4= current_user.email
  .ls20
  - unless current_user.approved?
    .alert.alert-warning{ role: 'alert' }= t(:registration_not_approved_bar)
  .btn-group
    = link_to t(:logout), destroy_user_session_path, method: :delete,
    class: 'btn btn-danger'
    - if current_user.is_admin?
      = link_to 'Admin', admin_root_path, class: 'btn btn-info'
    = link_to t(:edit_registration), edit_user_registration_path,
    class: 'btn btn-secondary'
  %hr
  %ul.list-group
  - @clients.each do |client|
    %li.list-group-item= link_to client.name.capitalize,
    "#{client.app_url}/auth/autologin"
