.card.col-md-6.offset-md-3
  %h2.card-header= t(:log_in)
  .card-block
    = form_for(resource, as: resource_name,
    url: session_path(resource_name)) do |f|
      .field.form-group
        = f.label :email
        .input-group.mb-2.mr-sm-2.mb-sm-0
          .input-group-addon @
          = f.email_field :email, autofocus: true, class: 'form-control'
      .field.form-group
        = f.label :password
        .input-group.mb-2.mr-sm-2.mb-sm-0
          .input-group-addon
            %i.fa.fa-key{ 'aria-hidden' => 'true' }
          = f.password_field :password, autocomplete: 'off',
          class: 'form-control'
      .row
        .ls40.hidden-sm-up
        .col-sm-4.offset-sm-8
          .actions.form-group
            = f.submit t(:log_in), class: 'btn btn-block btn-primary'
    = render 'devise/shared/links'
