#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  width: 100%;
  input {
    width: 100% !important;
  }
}

#error-explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
