@import "bootstrap";
@import "mdb";
@import "jquery-ui";
@import "common/*";
@import "font-awesome";

.ls20 {
  height: 20px;
}

.ls40 {
  height: 40px;
}

.ls60 {
  height: 60px;
}

.card {
  padding: 0;
}

body {
  padding-bottom: 70px;
}
