!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8',
    'http-equiv': 'Content-Type' }/
    %meta{ content: 'width=device-width, initial-scale=1',
    name: 'viewport' }/
    %title UserManager
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload'
    - if controller_stylesheet_present?
      = stylesheet_link_tag params[:controller], media: 'all',
      'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{ class: "#{controller_name} #{action_name}" }
    .ls40
    .container
      - if notice.present?
        .alert.alert-success{ role: 'alert' }= notice
      - if alert.present?
        .alert.alert-danger{ role: 'alert' }= alert
    .container
      .ls60
      = yield
